@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase


<FxBottomSheet ShowCloseButton="false" @bind-IsOpen="_isModalOpen" OnClose="Close" IsFullScreenMode="false">
    <div class="overflow-sheet" style="padding: 24px 0">
        <FxButton Class="details-button"
                  Text="@Localizer[nameof(AppStrings.SeeDetails)]"
                  OnClick="Details"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        @*TODO: just for test i use Detail onclick, it should be change with extract onclick*@
        <FxButton Class="extract-button"
                  Text="Extract in current location"
                  OnClick="Extract"
                  IsEnabled="!_isInRoot"
                  IsVisible="_fileCategoryType == FileCategoryType.Zip && !_isMultiple"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        <FxButton Class="rename-button"
                  Text="@Localizer[nameof(AppStrings.Rename)]"
                  OnClick="Rename"
                  IsEnabled="!_isInRoot"
                  IsVisible="!_isMultiple"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        <FxButton Class="copy-button"
                  Text="@Localizer[nameof(AppStrings.CopyTo)]"
                  OnClick="Copy"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        @if (_pinOptionResult?.IsVisible == true)
        {
            @if (_pinOptionResult?.Type == PinOptionResultType.Add)
            {
                <FxButton Class="pin-button"
                  Text="@Localizer[nameof(AppStrings.AddPinnedItems)]"
                  OnClick="Pin"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
            }
            else if (_pinOptionResult?.Type == PinOptionResultType.Remove)
            {
                <FxButton Class="pin-button"
                  Text="@Localizer[nameof(AppStrings.RemoveFromPinnedItems)]"
                  OnClick="UnPin"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
            }
        }
        <FxButton Class="move-button"
                  Text="@Localizer[nameof(AppStrings.MoveTo)]"
                  OnClick="Move"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        @if (_isVisibleShareWithAppOption)
        {
            <FxButton Class="share-with-app-button"
                  Text="@Localizer[nameof(AppStrings.ShareWithApp)]"
                  OnClick="ShareWithApp"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
        }
        <FxButton Class="delete-button"
                  Text="@Localizer[nameof(AppStrings.Delete)]"
                  OnClick="Delete"
                  IsEnabled="!_isInRoot"
                  ButtonStyle="FxButtonStyle.SheetMenu" />
    </div>
</FxBottomSheet>