@inherits AppComponentBase;

<div class="file-card-container">
    <div class="file-card-media">
        <div class="tag-wrapper">
            <FxTag Title="@Localizer[nameof(AppStrings.SharedFileCardTag)]" TagType="FxTagType.Regular" Width="51px" />
        </div>
        <div class="pin-defualt-icon"></div>
    </div>

    <div class="file-card-content">
        <div class="card-file-name">
            <div class="file-icon"></div>

            <div class="file-name-container">
                <span class="file-name">@Localizer[nameof(AppStrings.CardFileName)]</span>.<span class="file-format">@Localizer[nameof(AppStrings.CardFileFormat)]</span>
            </div>
        </div>

        <div class="file-info">
            <div class="modified-date">@Localizer[nameof(AppStrings.ModifiedDate)]</div> | <span class="file-size">@Localizer[nameof(AppStrings.CardFileSize)]</span>
        </div>
    </div>
</div>
