@if (!string.IsNullOrEmpty(ListTitle))
{
    <div class="list-title">@ListTitle</div>
}

<div class="action-bar">
    <div class="left-actions">
        <div class="selected-sort" @onclick="OnSortChange">Name</div>
        <div class="sort-order @SortOrder-order" @onclick="ToggleSortOrder"></div>
    </div>
    <div class="right-actions">
        <div class="action-btn select-all-btn @(IsSelectedAll ? "select-all-filled" : "")" @onclick="ToggleSelectedAll"></div>
        <div class="action-btn list-view-btn @(ViewMode == Common.ViewModeEnum.list ? "list-view-selected" : "")" @onclick="@(() => ChangeViewMode(Common.ViewModeEnum.list))"></div>
        <div class="action-btn grid-view-btn @(ViewMode == Common.ViewModeEnum.grid ? "grid-view-selected" : "")" @onclick="@(() => ChangeViewMode(Common.ViewModeEnum.grid))"></div>
        <div class="action-btn filter-btn"></div>
    </div>
</div>

@if(HasSearchInput)
{
    <FxSearchInput IsPartial="false" />
}

<div class="list-container @ViewMode-view">
    @foreach (var item in ListItems)
    {
        <div class="item-container @ViewMode-view-item" @onclick="GoIntoItem">
            <div class="item-content @item.IconStr-icon">
                <div class="item-title">
                    @if (item.IsPinned == true)
                    {
                        <div class="pin-badge"></div>
                    }
                    <div class="title-text">@item.Title</div>
                </div>
                <div class="item-sub-text">@item.SubTitle</div>
            </div>
            <div class="options-btn"
             @onclick="OpenItemOverFlow"
             @onclick:stopPropagation="true"></div>
        </div>
    }
</div>