@page "/MyDevice"

@inherits AppComponentBase;
<PageTitle>@Localizer[nameof(AppStrings.MyDevice)]</PageTitle>

<FxToolBar IsMainToolBar="true" />

<div class="mydevice-content">
    <BitAccordion Title="Pinned" DefaultIsExpanded="true">
        <ContentTemplate>
            <div class="items">
                @foreach (var cardConfig in PinnedCards)
               {
                    <FileCard CardConfig="cardConfig"></FileCard>
                }
                @*<FileCard 
                    FileName="@Localizer[nameof(AppStrings.CardFileName)]" 
                    ModifiedDate="@Localizer[nameof(AppStrings.ModifiedDate)]" 
                    FileSize="@Localizer[nameof(AppStrings.CardFileSize)]"
                    FileFormat="@Localizer[nameof(AppStrings.CardFileFormat)]"/>
                <FileCard 
                    IsFavorite="true"
                    FileName="@Localizer[nameof(AppStrings.CardFileName)]" 
                    ModifiedDate="@Localizer[nameof(AppStrings.ModifiedDate)]" 
                    FileSize="@Localizer[nameof(AppStrings.CardFileSize)]"
                    FileFormat="@Localizer[nameof(AppStrings.CardFileFormat)]"/>
                <FileCard 
                    FileName="@Localizer[nameof(AppStrings.CardFileName)]" 
                    ModifiedDate="@Localizer[nameof(AppStrings.ModifiedDate)]" 
                    FileSize="@Localizer[nameof(AppStrings.CardFileSize)]"
                    FileFormat="@Localizer[nameof(AppStrings.CardFileFormat)]"/>
                <FileCard 
                    IsDisable="true"
                    FileName="@Localizer[nameof(AppStrings.CardFileName)]" 
                    ModifiedDate="@Localizer[nameof(AppStrings.ModifiedDate)]" 
                    FileSize="@Localizer[nameof(AppStrings.CardFileSize)]"
                    FileFormat="@Localizer[nameof(AppStrings.CardFileFormat)]"/>*@
            </div>
        </ContentTemplate>
    </BitAccordion>

    <ListView ListTitle="@Localizer[nameof(AppStrings.MyDevice)]" ListItems="ListItems"></ListView>
</div>