@page "/Settings/theme"

<div class="theme-content">
    @($"Use System Theme ({SystemTheme})")
    <BitToggle @bind-Value="@IsSystemTheme" OnChange="@OnUseSystemTheme" />
    Dark Theme
    <BitToggle @bind-Value="@IsDarkMode" IsEnabled="@(!IsSystemTheme)" OnChange="@OnDarkThemeChanged" />
</div>