@page "/settings/theme"
@inherits AppComponentBase;

<div class="theme-content">
    @($"Use System Theme ({SystemTheme})")
    <BitToggle @bind-Value="@IsSystemTheme" OnChange="@OnUseSystemThemeAsync" />
    Dark Theme
    <BitToggle @bind-Value="@IsDarkMode" IsEnabled="@(!IsSystemTheme)" OnChange="@OnThemeChangedAsync" />
</div>