@namespace Functionland.FxFiles.Client.Shared.Components
@implements IDisposable
@inherits AppComponentBase
@using Functionland.FxFiles.Client.Shared.Utils


<div @ref="_artifactExplorerListRef" style="margin-bottom: @(IsmacOS? "38px" : "")" class="list-container @(IsLoading ? "overflow-hidden" : "show-animation-artifact") @(!Artifacts.Any() ? string.Empty : "list-view")" @ontouchstart="HandleTouchStart" @ontouchend="HandleTouchEnd" @onkeypress:preventDefault="true">
    @if (IsLoading)
    {
        <OverlayLoading LoadingType="LoadingType.Overlay" />
    }
    @if (!Artifacts.Any() && !IsLoading)
    {
        if (!IsInSearchMode)
        {
            <EmptyListView OnAddFolderButtonClick="OnAddFolderButtonClick"
                           Title="@Localizer[nameof(AppStrings.EmptyListTitle)]"
                           IsShowButtons="@(ArtifactExplorerMode != ArtifactExplorerMode.SelectDestination && FileCategoryFilter == null && IsInZipMode==false)" />
        }
    }
    else
    {
        @if (ViewMode == ViewModeEnum.Grid)
        {
            <Virtualize Context="artifacts" OverscanCount="@_overscanCount" ItemsProvider="@ProvideArtifactGridAsync" @ref="_virtualizeGridRef">
                <div style="display: flex">
                    @foreach (var artifact in artifacts)
                    {
                        <div class="item-container @(artifact.IsSelected == true ? "selected-item" : "") grid-view-item @(artifact.IsDisabled == true ? "disable-item" : "")"
                             @onpointerup="((e) => PointerUp(e,artifact))"
                             @onpointerdown="(() =>PointerDown(artifact))"
                             @onpointercancel="PointerCancel"
                             id="@GetIdForArtifact(artifact.Name)">


                            <div class="check-box-position @(IsPhone ? "check-box-mobile" : string.Empty) @(ArtifactExplorerMode== ArtifactExplorerMode.SelectArtifact && IsPhone ? "selection-mode-style" : "" )" @onpointerup:stopPropagation="true" @onpointerdown:stopPropagation="true" @onmouseup:stopPropagation="true" @oncontextmenu:stopPropagation="true" @onclick:preventDefault="true" @onclick="(() => OnSelectionChanged(artifact))">
                                <FxCheckBox IsChecked="@(artifact.IsSelected ?? false)" Class="@(!IsPhone ? "icon-space-in-desktop" : string.Empty)" />
                            </div>

                            <div class="icon-box">
                                @if (artifact.ThumbnailPath != null)
                                {
                                    <div class="thumbnail-box">
                                        <div class="img-box">
                                            <img class="thumbnail-img" src="@(artifact.ThumbnailPath.InProtocol(Protocol))">
                                        </div>
                                        @if (artifact.FileCategory == FileCategoryType.Video && artifact.ThumbnailPath != null)
                                        {
                                            <div class="icon-play"></div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="item-icon-position @(artifact.IsSelected == true ? "selected-item-icon" : "")  @GetArtifactIcon(artifact)"></div>
                                }
                            </div>
                            <div class="footer-box">
                                <div class="item-content">
                                    <div class="item-title">
                                        @if (artifact.IsPinned == true)
                                        {
                                            <div class="pin-badge"></div>
                                        }
                                        <div class="title-text @(artifact.IsPinned == true ? "space-pinned" : "disable-space-pinned")">@artifact.Name</div>
                                    </div>
                                    <div class="item-sub-text"></div>
                                </div>
                                @if ((ArtifactExplorerMode == ArtifactExplorerMode.Normal && !IsInRoot(CurrentArtifact)) || IsInSearchMode)
                                {
                                    <div class="options-btn"
                                         @onclick="() => HandleArtifactOptionClick(artifact)"
                                         @onpointerup:preventDefault="true"
                                         @onpointerup:stopPropagation="true"
                                         @onpointerdown:preventDefault="true"
                                         @onpointerdown:stopPropagation="true">
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </Virtualize>
        }
        else
        {
            <Virtualize Context="artifact" OverscanCount="_overscanCount" ItemsProvider="@ProvideArtifactsListAsync" @ref="_virtualizeListRef">
                <div class="item-container @(artifact.IsSelected == true ? "selected-item" : "") list-view-item @(artifact.IsDisabled == true ? "disable-item" : "")"
                     @onpointerup="((e) => PointerUp(e,artifact))"
                     @onpointerdown="(() =>PointerDown(artifact))"
                     @onpointercancel="PointerCancel"
                     id="@GetIdForArtifact(artifact.Name)">


                    <div class="check-box-position @(IsPhone ? "check-box-mobile" : string.Empty)" @onpointerup:stopPropagation="true" @onpointerdown:stopPropagation="true" @onmouseup:stopPropagation="true" @oncontextmenu:stopPropagation="true" @onclick:preventDefault="true" @onclick="(() => OnSelectionChanged(artifact))">
                        <FxCheckBox IsChecked="@(artifact.IsSelected ?? false)" />
                    </div>

                    <div class="item-box @(ArtifactExplorerMode == ArtifactExplorerMode.SelectArtifact && IsPhone ? "selection-mode-style" : "")">
                        <div class="icon-box">
                            @if (artifact.ThumbnailPath != null)
                            {
                                <div class="thumbnail-box">
                                    <div class="img-box">
                                        <img class="thumbnail-img" src="@(artifact.ThumbnailPath.InProtocol(Protocol))">
                                    </div>
                                    @if (artifact.FileCategory == FileCategoryType.Video && artifact.ThumbnailPath != null)
                                    {
                                        <div class="icon-play"></div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="item-icon-position @(artifact.IsSelected == true ? "selected-item-icon" : "")  @GetArtifactIcon(artifact)"></div>
                            }
                        </div>
                        <div class="footer-box">

                            <div class="item-content">
                                <div class="item-title">
                                    @if (artifact.IsPinned == true)
                                    {
                                        <div class="pin-badge"></div>
                                    }
                                    <div class="title-text @(artifact.IsPinned == true ? "space-pinned" : "disable-space-pinned")">@artifact.Name</div>
                                </div>
                                <div class="item-sub-text"></div>
                            </div>
                        </div>

                        @if ((ArtifactExplorerMode == ArtifactExplorerMode.Normal && !IsInRoot(CurrentArtifact)) || IsInSearchMode)
                        {
                            @if (IsInZipMode is false)
                            {
                                <div class="options-btn"
                                     @onclick="() => HandleArtifactOptionClick(artifact)"
                                     @onpointerup:preventDefault="true"
                                     @onpointerup:stopPropagation="true"
                                     @onpointerdown:preventDefault="true"
                                     @onpointerdown:stopPropagation="true">
                                </div>
                            }
                            else
                            {
                                <div class="extract-btn"
                                     @onclick="() => HandleZipArtifactClickAsync(artifact)"
                                     @onpointerup:preventDefault="true"
                                     @onpointerup:stopPropagation="true"
                                     @onpointerdown:preventDefault="true"
                                     @onpointerdown:stopPropagation="true">
                                </div>
                            }
                        }
                    </div>
                </div>
            </Virtualize>
        }
    }
</div>
<div class="position-scroll-btn @(IsInSearchMode ? "position-scroll-btn-in-search" : "")">
    <FxButton Width="60px"
              Height="60px"
              BorderRadius="100px"
              OnClick="OnGoToTopPage"
              ButtonStyle="FxButtonStyle.IconOnly"
              RightIcon="_content/Functionland.FxFiles.Client.Shared/images/icons/arrow-up.svg" />
</div>