@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase


<div class="list-container @(!Artifacts.Any() || Artifacts == null ? string.Empty : $"{ViewMode}-view")">
    @if ((Artifacts == null) || (!Artifacts.Any()))
    {
        <EmptyListView OnAddFolderButtonClick="OnAddFolderButtonClick"
                   Title="@Localizer[nameof(AppStrings.EmptyListTitle)]"
                   IsShowButtons="@(ArtifactExplorerMode != ArtifactExplorerMode.SelectDestionation)" />
    }
    @foreach (var artifact in Artifacts)
    {
        <div class="item-container @ViewMode-view-item"
         @onpointerup="(() => PointerUp(artifact))"
         @onpointerdown="PointerDown">
            @if (ArtifactExplorerMode == ArtifactExplorerMode.SelectArtifact)
            {
                <BitCheckbox Value="IsSelected" ValueChanged="(() => OnSelectionChanged(artifact))" />
            }

            @if (ArtifactExplorerMode == ArtifactExplorerMode.Normal || ViewMode == ViewModeEnum.grid) 
            {
                <div class="item-icon-position @GetArtifactIcon(artifact)"></div>
            }

            <div class="item-content">

                <div class="item-title">
                    @if (artifact.IsPinned == true)
                    {
                        <div class="pin-badge"></div>
                    }
                    <div class="title-text">@artifact.Name</div>
                </div>
                <div class="item-sub-text">@GetArtifactSubText(artifact)</div>
            </div>
            @if (ArtifactExplorerMode == ArtifactExplorerMode.Normal && !IsInRoot(CurrentArtifact))
            {
                <div class="options-btn"
                    @onclick="() => HandleArtifactOptionsClick(artifact)"
                    @onpointerup:preventDefault="true"
                    @onpointerup:stopPropagation="true"></div>             
            }
        </div>
    }
</div>
<div class="position-scroll-btn">
    <FxButton ButtonStyle="FxButtonStyle.IconOnly" BorderRadius="100px" Height="60px" Width="60px" OnClick="OnGoToTopPage"></FxButton>
</div>