@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase

@if (ArtifactExplorerMode == ArtifactExplorerMode.Normal)
{
    <div class="action-bar">
        <div class="left-actions">
            <div class="selected-sort" @onclick="OnSortChange">Name</div>
            <div class="sort-order @SortOrder-order" @onclick="ToggleSortOrder"></div>
        </div>
        <div class="right-actions">
            <div class="action-btn select-all-btn @(IsSelectedAll ? "select-all-filled" : "")" @onclick="ToggleSelectedAll"></div>
            <div class="action-btn list-view-btn @(ViewMode == ViewModeEnum.list ? "list-view-selected" : "")" @onclick="@(() => ChangeViewMode(ViewModeEnum.list))"></div>
            <div class="action-btn grid-view-btn @(ViewMode == ViewModeEnum.grid ? "grid-view-selected" : "")" @onclick="@(() => ChangeViewMode(ViewModeEnum.grid))"></div>
            <div class="action-btn filter-btn" @onclick="HandleFilterClick"></div>
        </div>
    </div>
}
else if (ArtifactExplorerMode == ArtifactExplorerMode.SelectArtifact)
{
    <div class="select-action">
        <div class="info-selection">
            <div class="close-btn" @onclick="(() => CancelSelectionMode())"></div>
            <div class="item-selected">
                <span class="item-selected-count">@SelectedArtifacts.Count</span>
                <span class="item-selected-text">items selected</span>
            </div>
        </div>

        <div class="right-part">
            <div class="icons-action move-icon" @onclick="(() => HandelArtifactMoveClick())"></div>
            <div class="icons-action vertical-option-icon" @onclick="(() => HandleMultiArtifactsOptionsClick())"></div>
        </div>
    </div>
}
else if (ArtifactExplorerMode == ArtifactExplorerMode.SelectDestionation)
{
    <div class="select-action">
        <div class="info-selection">
            <div class="close-btn" @onclick="(() => HandleCancelSelectDestionationMode())"></div>
            <div class="item-selected">
                <span class="item-selected-count">@ArtifactActionResult?.Count</span>
                <span class="move-selected-items-text">items ready to </span>
                @if (ArtifactActionResult?.ActionType == @ArtifactActionType.Copy)
                {
                    <span class="move-selected-items-text">copy</span>
                }
                else
                {
                    <span class="move-selected-items-text">move</span>
                }
            </div>
        </div>

        <div class="right-part">
            <div class="icons-action add-folder"></div>
        </div>
    </div>
}

@if (!IsInRoot(CurrentArtifact))
{
    <FxSearchInput 
        Placeholder="@CurrentArtifact.Name"
        @ref="_artifactSearch"
        DebounceInterval="300"
        OnSearch="OnSearch"
        IsPartial="false" />
}

<div class="list-container @ViewMode-view">
    @if ((Artifacts == null) || (!Artifacts.Any()))
    {
        <EmptyListView 
            OnAddFolderButtonClick="OnAddFolderButtonClick"
            Title="@Localizer[nameof(AppStrings.EmptyListTitle)]" 
            IsShowButtons="@(ArtifactExplorerMode != ArtifactExplorerMode.SelectDestionation)" />
    }
    @foreach (var artifact in Artifacts)
    {
        <div class="item-container @ViewMode-view-item"
         @onpointerup="(() => PointerUp(artifact))"
         @onpointerdown="PointerDown">
            @if (ArtifactExplorerMode == ArtifactExplorerMode.SelectArtifact)
            {
                <BitCheckbox Value="!IsSelected" ValueChanged="(() => OnSelectionChanged(artifact))" />
            }

            @if (ArtifactExplorerMode == ArtifactExplorerMode.Normal)
            {
                <div class="item-icon-position @GetArtifactIcon(artifact)"></div>
            }

            <div class="item-content">

                <div class="item-title">
                    @if (artifact.IsPinned == true)
                    {
                        <div class="pin-badge"></div>
                    }
                    <div class="title-text">@artifact.Name</div>
                </div>
                <div class="item-sub-text">@GetArtifactSubText(artifact)</div>
            </div>
            @if (ArtifactExplorerMode == ArtifactExplorerMode.Normal)
            {
                <div class="options-btn"
             @onclick="() => HandleArtifactOptionsClick(artifact)"
             @onpointerup:preventDefault="true"
             @onpointerup:stopPropagation="true"></div>
            }
        </div>
    }
</div>