@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div class="sheet-wrapper @(IsOpen ? "sheet-wrapper-apear" : "")" @onclick="(async () => await Close())">
    @*<div class="bottom-sheet column items-center justify-end @(IsFullScreenMode ? "full-screen-sheet" : "") @(!IsOpen ? "" : "show-bottom-sheet")" @onclick:stopPropagation="true" @onclick:preventDefault="true">*@
        <div class="bottom-sheet-contents column @(!IsOpen ? "" : "show-bottom-sheet")" @onclick:stopPropagation="true" @onclick:preventDefault="true">
            @if (ShowCloseButton)
            {
                <div class="controls">
                    @if (!string.IsNullOrEmpty(Title))
                    {
                        <div class="title-modal">@Title</div>
                    }
                    <button @onclick="(async () => await Close())" class="close-sheet close-button" type="button" title="Close the sheet">
                        <div class="close-button-icon"></div>
                    </button>
                </div>
            }

            @ChildContent
        </div>
    @*</div>*@
</div>