@namespace Functionland.FxFiles.Client.Shared.Components

@inherits AppComponentBase;

<div class="@(IsChecked ? "checkbox-checked" : "") @(IsEnable ? "" : "checkbox-disable") @(IsChecked && !IsEnable ? "checkbox-checked-disable" : "") checkbox">
</div>
<input class="checkbox-display-none"
       @onclick="@(() => OnChange())"
       @bind="@IsChecked"
       type="checkbox" />