@namespace Functionland.FxFiles.App.Components
@using Functionland.FxFiles.App.Components.Common
@inherits AppComponentBase

<h3>ArtifactExplorer</h3>

@if (!IsSelectionMode)
{
    <div class="action-bar">
        <div class="left-actions">
            <div class="selected-sort" @onclick="OnSortChange">Name</div>
            <div class="sort-order @SortOrder-order" @onclick="ToggleSortOrder"></div>
        </div>
        <div class="right-actions">
            <div class="action-btn select-all-btn @(IsSelectedAll ? "select-all-filled" : "")" @onclick="ToggleSelectedAll"></div>
            <div class="action-btn list-view-btn @(ViewMode == Common.ViewModeEnum.list ? "list-view-selected" : "")" @onclick="@(() => ChangeViewMode(Common.ViewModeEnum.list))"></div>
            <div class="action-btn grid-view-btn @(ViewMode == Common.ViewModeEnum.grid ? "grid-view-selected" : "")" @onclick="@(() => ChangeViewMode(Common.ViewModeEnum.grid))"></div>
            <div class="action-btn filter-btn"></div>
        </div>
    </div>
}
else
{
    <div class="select-action">
        <div class="info-selection">
            <div class="close-btn" @onclick="(() => CancelSelection())"></div>
            <div class="item-selected">
                <span class="item-selected-count">@SelectedArtifacts.Count</span>
                <span class="move-selected-items-text">items ready to move</span>
                <span class="item-selected-text">items selected</span>
            </div>
        </div>

        <div class="right-part">
            <div class="icons-action move-icon"></div>
            <div class="icons-action add-folder"></div>
            <div class="icons-action vertical-option-icon"></div>
        </div>
    </div>
}

@if (!IsInRoot(CurrentArtifact))
{
    <FxSearchInput IsPartial="false" />
}

<div class="list-container @ViewMode-view">
    @foreach (var artifact in Artifacts)
    {
        <div @onpointerup="PointerUp"
         @onpointerdown="PointerDown"
         class="item-container @ViewMode-view-item" @onclick="() => HandleArtifactClick(artifact)">
            @if (IsSelectionMode)
            {
                <BitCheckbox OnChange="(() => OnSelectionChanged(artifact))" />
            }

            @if (!IsSelectionMode)
            {
                <div class="item-icon-position text-file-icon"></div>
            }

            <div class="item-content">

                <div class="item-title">
                    @if (artifact.IsPinned == true)
                    {
                        <div class="pin-badge"></div>
                    }
                    <div class="title-text">@artifact.Name</div>
                </div>
                <div class="item-sub-text">@GetArtifactSubText(artifact)</div>
            </div>

            @if (!IsSelectionMode)
            {
                <div class="options-btn"
             @onclick="OpenArtifactOverFlow"
             @onclick:stopPropagation="true"></div>
            }
        </div>
    }
</div>

<ArtifactSelectionModal @ref="_artifactSelectionModalRef">
    
</ArtifactSelectionModal>