@namespace Functionland.FxFiles.App.Components
@inherits AppComponentBase;

<FxBottomSheet Title="Filter by" ShowCloseButton=true IsOpen="_isModalOpen" OnClose="HandleClose">
    <div>
        <FxButton Text="All"
                  ButtonStyle="FxButtonStyle.SheetMenu"
                  OnClick="() => HandleFilterItemClick(null)"
                  RightIcon="@(CurrentFilter is null? "images/icons/lightDesignSystem/success-mode.svg" : "")" />
        <FxButton Text="Image"
                  ButtonStyle="FxButtonStyle.SheetMenu"
                  OnClick="() => HandleFilterItemClick(FileCategoryType.Image)"
                  RightIcon="@(CurrentFilter is FileCategoryType.Image ? "images/icons/lightDesignSystem/success-mode.svg" : "")" />
        <FxButton Text="Video"
                  ButtonStyle="FxButtonStyle.SheetMenu"
                  OnClick="() => HandleFilterItemClick(FileCategoryType.Video)"
                  RightIcon="@(CurrentFilter is FileCategoryType.Video ? "images/icons/lightDesignSystem/success-mode.svg" : "")" />
        <FxButton Text="Audio"
                  ButtonStyle="FxButtonStyle.SheetMenu"
                  OnClick="() => HandleFilterItemClick(FileCategoryType.Audio)"
                  RightIcon="@(CurrentFilter is FileCategoryType.Audio ? "images/icons/lightDesignSystem/success-mode.svg" : "")" />
        <FxButton Text="Documents & others"
                  ButtonStyle="FxButtonStyle.SheetMenu"
                  OnClick="() => HandleFilterItemClick(FileCategoryType.Document)"
                  RightIcon="@(CurrentFilter is FileCategoryType.Document ? "images/icons/lightDesignSystem/success-mode.svg" : "")" />
    </div>
</FxBottomSheet>