@namespace Functionland.FxFiles.App.Components
@inherits AppComponentBase;

<FxBottomSheet ShowCloseButton=true IsOpen="_isModalOpen" OnClose="HandleClose">
    <ul>
        <li @onclick="() => HandleFilterItemClick(null)" class="@(CurrentFilter is null ? "selected" : "")">All</li>
        <li @onclick="() => HandleFilterItemClick(FileCategoryType.Image)" class="@(CurrentFilter is FileCategoryType.Image ? "selected" : "")">Images</li>
        <li @onclick="() => HandleFilterItemClick(FileCategoryType.Video)" class="@(CurrentFilter is FileCategoryType.Video ? "selected" : "")">Video</li>
        <li @onclick="() => HandleFilterItemClick(FileCategoryType.Audio)" class="@(CurrentFilter is FileCategoryType.Audio ? "selected" : "")">Audio</li>
        <li @onclick="() => HandleFilterItemClick(FileCategoryType.Document)" class="@(CurrentFilter is FileCategoryType.Document ? "selected" : "")">Documents & others</li>
        @*<li @onclick="() => HandleFilterItemClick(FileCategoryType.Apps)">Apps</li>*@
    </ul>
</FxBottomSheet>