@namespace Functionland.FxFiles.App.Components.Modal
@inherits AppComponentBase;

<FxBottomSheet ShowCloseButton="true" @bind-IsOpen="_isModalOpen" OnClose="Close" IsFullScreenMode="false">
    <div class="description-modal-sup">@Localizer[nameof(AppStrings.ReplaceOrSkipSupDescModal)]</div>
    @if(ArtifactsName is not null)
    {
        @foreach (var fileName in ArtifactsName)
        {
            <div class="file-name-modal">@fileName</div>
        }
    }
    <div class="description-modal-sub">@Localizer[nameof(AppStrings.ReplaceOrSkipSubDescModal)]</div>
    <FxButton ButtonStyle="FxButtonStyle.Outline"
              Text="@Localizer[nameof(AppStrings.SkipModal)]"
              Width="100%"
              Margin="0 0 32px 0"
              OnClick="SkipArtifact">
    </FxButton>
    <FxButton ButtonStyle="FxButtonStyle.Normal"
              Text="@Localizer[nameof(AppStrings.ReplaceModal)]"
              Width="100%"
              Margin="0 0 61px 0"
              OnClick="ReplaceArtifact">
    </FxButton>
</FxBottomSheet>