@using Functionland.FxFiles.Client.Shared.Utils
@inherits AppComponentBase;

<!-- Body of the sheet -->
<main class="content-body @ContentBodyClass fill column">
    @if (IsImageFile)
    {
        <div class="image-icon-row">

            <div class="image-container">
                <div class="image-file-icon"></div>
                <img class="file-image-preview-blur" src="@(FilePath?.InProtocol(Protocol))">
                <img class="file-image-preview" src="@(FilePath?.InProtocol(Protocol))">
            </div>
        </div>
    }
    else
    {
        @if (!string.IsNullOrEmpty(FileName))
        {
            <div class="file-icon-row">
                <div class="@(FsArtifactType == FsArtifactType.File ? FileCategoryType.ToString().ToLower() : "folder")-file-icon"></div>
            </div>
        }
    }
    <div class="file-name-row">
        <p class="file-name-text open-sans-regular">@FileName</p>
    </div>
    <div class="file-details-area @FileDetailAreaClass">
        @FileDetailItemFragment
    </div>
    <div class="bottom-body">
        @FileDetailItemActionsFragment
        <div class="close-btn-bottom-action">
            @FileDetailBottomActionFragment
        </div>
    </div>
</main>
