@inherits AppComponentBase;

<div class="file-card-container @(IsPinned ? "favorite" : "") @(IsEnable ? "disabled-card" : "")">
    <div class="file-card-media">
        @if (!string.IsNullOrEmpty(TagTitle) || !string.IsNullOrWhiteSpace(TagTitle))
        {
            <div class="tag-wrapper">
                <FxTag Title="@TagTitle" TagType="FxTagType.Regular" Width="51px" />
            </div>
        }

        @if (!string.IsNullOrEmpty(FileImage))
        {
            <img src="@FileImage" draggable="false" class="file-card-image" />
        }
        else
        {
            <div class="file-card-icon @GetArtifactIcon(ArtifactType, FileType)"></div>
        }

        <div class="pin-defualt-icon"></div>
    </div>
    <div class="file-card-content">
        <div class="card-file-name">
            <div class="file-icon @GetArtifactIcon(ArtifactType, FileType)"></div>

            <div class="file-name-container">
                <span class="file-name">@FileName</span>
            </div>
        </div>
        <div class="file-info @(ArtifactType != FsArtifactType.File ? "visibility-hidden": "")">
            <div class="modified-date">@ModifiedDate</div> | <span class="file-size">@FileSize</span>
        </div>
    </div>
</div>