@inherits AppComponentBase;

<div class="file-card-container @(CardConfig.IsFavorite ? "favorite" : "") @(CardConfig.IsPressed ? "pressed-card" : "") @(CardConfig.IsDisable ? "disabled-card" : "")">
    <div class="file-card-media">
        <div class="tag-wrapper">
            <FxTag Title="@Localizer[nameof(AppStrings.SharedFileCardTag)]" TagType="FxTagType.Regular" Width="51px" />
        </div>
        <div class="pin-defualt-icon"></div>
    </div>

    <div class="file-card-content">
        <div class="card-file-name">
            <div class="file-icon"></div>

            <div class="file-name-container">
                <span class="file-name">@CardConfig.FileName</span>.<span class="file-format">@CardConfig.FileFormat</span>
            </div>
        </div>

        <div class="file-info">
            <div class="modified-date">@CardConfig.ModifiedDate</div> | <span class="file-size">@CardConfig.FileSize</span>
        </div>
    </div>
</div>
