@inherits AppComponentBase;


@if(IsPartial)
{
    <div class="search-icon"></div>
    <input class="input-box input-partial" value="@Text" type="text" placeholder="@Localizer[nameof(AppStrings.InputSearchParial)]" />
}
else
{
    <div class="input-full-width">
        <div class="search-icon"></div>
        <input class="input-box" value="@Text" type="text" placeholder="@Localizer[nameof(AppStrings.InputSearchFullWidth)]" />
        <button class="button-search-input">@Localizer[nameof(AppStrings.ButtonSearchFullWidth)]</button>
    </div>
}
