@inherits AppComponentBase;

<div class="input-box">
    <label class="label-input">@Label</label>
    <div class="field-question-input">@QuestionText</div>
    <input class="text-input" placeholder="@PlaceHolder" value="@Text" type="text" />
    <div class="error-message">@ErrorMessage</div>
</div>