@namespace Functionland.FxFiles.Client.Shared.Components
@inherits AppComponentBase

<div class="file-browser-container">
    <FxToolBar IsInRoot="IsInRoot(CurrentArtifact)"
               OnSearch="HandleSearchAsync"
               OnSearchFocused="HandleSearchFocused"
               IsInSearchMode="_isInSearch"
               OnBackClick="HandleToolbarBackClickAsync"
               Title="@(CurrentArtifact?.Name)"
               SubTitle="@($"{Localizer[nameof(AppStrings.Update)]}: {CurrentArtifact?.LastModifiedDateTime.Date.Date.ToShortDateString()}")"
               IsPinned="@(CurrentArtifact?.IsPinned ?? false)"
               OnOverflowButtonClick="@(()=>HandleOptionsArtifact(CurrentArtifact))"
               OnAddButtonClick="@(()=>HandleCreateFolder(CurrentArtifact?.FullPath))"
               IsInSelectMode="@(ArtifactExplorerMode == ArtifactExplorerMode.SelectArtifact)"
               @ref="_fxToolBarRef" />

    @if (CurrentArtifact != null)
    {
        <FxBreadcrumbs Artifact="CurrentArtifact" FileService="FileService" />
    }

    <section class="file-browser-content @(_isInSearch ? "opacity-0" : "opacity-1") @(IsInRoot(CurrentArtifact) ? "in-root-scroll-artifact" : "not-in-root-scroll-artifact")">
        @if (IsInRoot(CurrentArtifact) && _isInSearch is false)
        {
            <div class="pin-artifacts">
                <BitAccordion Class="@(_pins?.Count == 0 && !_isPinBoxLoading ? "pin-empty-style" : "")"
                              Title="@(_pins?.Count == 0 && !_isPinBoxLoading ? "Pinned (empty)" : "Pinned")"
                              DefaultIsExpanded="@(_isPinBoxLoading || _pins?.Count > 0)">
                    <ContentTemplate>
                        @if (_isPinBoxLoading)
                        {
                            <OverlayLoading LoadingType="LoadingType.Overlay" />
                        }
                        @if (_pins?.Count > 0)
                        {
                            <div class="items">
                                @foreach (var pin in _pins)
                                {
                                    <div @onclick="(() => HandleSelectArtifactAsync(pin))">
                                        <FileCard ArtifactType="@pin.ArtifactType"
                                                  Name="@pin.Name"
                                                  Size="@pin.SizeStr"
                                                  Path="@pin.FullPath"
                                                  FileService="@FileService"
                                                  FileType="@pin.FileCategory"
                                                  ModifiedDate="@pin.LastModifiedDateTime.ToString("MM/dd/yy")" />
                                    </div>
                                }
                            </div>
                        }
                    </ContentTemplate>
                </BitAccordion>
            </div>
        }

        <div class="root-title @(IsInRoot(CurrentArtifact) ? "show-root-title" : "hide-root-title")">@Localizer[nameof(AppStrings.MyDeviceFile)]</div>
        <div class="action-bar-box">
            <div class="@(ArtifactExplorerMode == ArtifactExplorerMode.SelectArtifact ? "show-selected-item" : "hide-selected-item") @(_isInSearch ? "select-action-search" : "") select-action ">
                <div class="info-selection">
                    <div class="close-btn" @onclick="CancelSelectionMode"></div>
                    <div class="item-selected">
                        <span class="item-selected-count">@_selectedArtifacts?.Count</span>
                        <span class="item-selected-text">items selected</span>
                    </div>
                </div>

                <div class="right-part">
                    @if (_selectedArtifacts?.Count > 0 && IsInRoot(CurrentArtifact) is false)
                    {
                        <div class="icons-action move-icon" @onclick="(() => HandleMoveArtifactsAsync(_selectedArtifacts))"></div>
                    }
                    <div class="icons-action vertical-option-icon" @onclick="(async () => await HandleSelectedArtifactsOptions(_selectedArtifacts))"></div>
                </div>
            </div>

            <div class="@(_isInSearch ? "action-bar-search" : "") action-bar">
                <div class="left-actions">
                    <div class="selected-sort" @onclick="HandleSortClick">
                        @Localizer[nameof(AppStrings.SortBy)] <span class="sort-type">@_currentSortType</span>
                    </div>
                    <span class="specter">@Localizer[nameof(AppStrings.Specter)]</span>
                    <div class="sort-order @(_isAscOrder ? "asc-order" : "desc-order")" @onclick="HandleSortOrderClick"></div>
                </div>
                <div class="right-actions">
                    <div class="action-btn list-view-btn @(AppStateStore.ViewMode == ViewModeEnum.List ? "list-view-selected" : "grid-view-selected")" @onclick="ChangeViewMode"></div>
                    <span class="specter">@Localizer[nameof(AppStrings.Specter)]</span>
                    <div class="action-btn select-all-btn" @onclick="ToggleSelectedAll"></div>
                    <span class="specter">@Localizer[nameof(AppStrings.Specter)]</span>
                    <div class="action-btn filter">
                        <div class="action-btn filter-btn" @onclick="HandleFilterClick"></div>
                        <div class="filter-btn-selected @(_fileCategoryFilter != null ? "show-fliter-btn" : "hide-filter-btn")" @onclick="HandleFilterClick"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="local-search @(!IsInRoot(CurrentArtifact) ? "show-search" : "hide-search")">
            <FxSearchInput Placeholder="@CurrentArtifact?.Name"
                           @ref="_fxSearchInputRef"
                           OnCancel="HandleCancelInLineSearchAsync"
                           DebounceInterval="300"
                           OnSearch="HandleInLineSearch"
                           IsPartial="false" />
        </div>
        @if (_isInSearch is false)
        {
            <ArtifactExplorer Artifacts="_displayedArtifacts"
                              FileService="FileService"
                              ThumbnailService="ThumbnailService"
                              CurrentArtifact="CurrentArtifact"
                              OnSelectArtifact="HandleSelectArtifactAsync"
                              OnArtifactOptionClick="HandleOptionsArtifact"
                              OnArtifactsOptionClick="HandleSelectedArtifactsOptions"
                              OnAddFolderButtonClick="@(()=>HandleCreateFolder(CurrentArtifact?.FullPath))"
                              ViewMode="AppStateStore.ViewMode"
                              FileCategoryFilter="_fileCategoryFilter"
                              HandleBack="HandleToolbarBackClickAsync"
                              IsLoading="_isArtifactExplorerLoading"
                              IsInSearchMode="_isInSearch"
                              ScrollArtifact="ScrollArtifact"
                              @bind-SelectedArtifacts="_selectedArtifacts"
                              @bind-ArtifactExplorerMode="ArtifactExplorerMode" />
        }
    </section>

    <section class="file-browser-content search-container @(_isInSearch ? "search-mode" : "browsing-mode")">
        <div class="filter-deep-search">
            <div class="filter-content @(_searchStatusTask is { IsCompleted: false } &&
                                         (string.IsNullOrWhiteSpace(_searchText) is false || SearchFilter?.ArtifactDateSearchType != null ||
                                          SearchFilter?.ArtifactCategorySearchType != null) && _isArtifactExplorerLoading is false ? string.Empty : "show-expander-divider")">
                <div class="filter-text">@Localizer[nameof(AppStrings.Filters)]</div>
                <div class="@(_isFileCategoryFilterBoxOpen ? "chaveron-up-icon" : "chaveron-down-icon")" @onclick="ChangeFileCategoryFilterMode"></div>
            </div>
            <div class="@(_isFileCategoryFilterBoxOpen ? "show-option" : "hide-option") filters-options">
                <div class="time-options-container">
                    <div class="time-title">@Localizer[nameof(AppStrings.Time)]</div>

                    <div class="time-options">
                        <div class="yesterday-option @(_artifactsSearchFilterDate == ArtifactDateSearchType.Yesterday ? "option-selected-mode" : "")" @onclick="(()=>ChangeArtifactsSearchFilterDate(ArtifactDateSearchType.Yesterday))">@Localizer[nameof(AppStrings.Yesterday)]</div>
                        <div class="past-seven-days-option @(_artifactsSearchFilterDate == ArtifactDateSearchType.Past7Days ? "option-selected-mode" : "")" @onclick="(()=>ChangeArtifactsSearchFilterDate(ArtifactDateSearchType.Past7Days))">@Localizer[nameof(AppStrings.Week)]</div>
                        <div class="past-seven-days-option @(_artifactsSearchFilterDate == ArtifactDateSearchType.Past30Days ? "option-selected-mode" : "")" @onclick="(()=>ChangeArtifactsSearchFilterDate(ArtifactDateSearchType.Past30Days))">@Localizer[nameof(AppStrings.Month)]</div>
                    </div>
                </div>

                <div class="type-options-container">
                    <div class="type-title">@Localizer[nameof(AppStrings.Type)]</div>

                    <div class="type-options">
                        <div class="image-option @(_artifactsSearchFilterType == ArtifactCategorySearchType.Image ? "option-selected-mode" : "")" @onclick="(()=>ChangeArtifactsSearchFilterType(ArtifactCategorySearchType.Image))">@Localizer[nameof(AppStrings.Image)]</div>
                        <div class="video-option @(_artifactsSearchFilterType == ArtifactCategorySearchType.Video ? "option-selected-mode" : "")" @onclick="(()=>ChangeArtifactsSearchFilterType(ArtifactCategorySearchType.Video))">@Localizer[nameof(AppStrings.Video)]</div>
                        <div class="audio-option @(_artifactsSearchFilterType == ArtifactCategorySearchType.Audio ? "option-selected-mode" : "")" @onclick="(()=>ChangeArtifactsSearchFilterType(ArtifactCategorySearchType.Audio))">@Localizer[nameof(AppStrings.Audio)]</div>
                        <div class="document-option @(_artifactsSearchFilterType == ArtifactCategorySearchType.Document ? "option-selected-mode" : "")" @onclick="(()=>ChangeArtifactsSearchFilterType(ArtifactCategorySearchType.Document))">@Localizer[nameof(AppStrings.Document)]</div>
                        <div class="pdf-option @(_artifactsSearchFilterType == ArtifactCategorySearchType.App ? "option-selected-mode" : "")" @onclick="(()=>ChangeArtifactsSearchFilterType(ArtifactCategorySearchType.App))">@Localizer[nameof(AppStrings.App)]</div>
                    </div>
                </div>
            </div>
            @if (_searchStatusTask is { IsCompleted: false } &&
                 (string.IsNullOrWhiteSpace(_searchText) is false || SearchFilter?.ArtifactDateSearchType != null ||
                  SearchFilter?.ArtifactCategorySearchType != null) && _isArtifactExplorerLoading is false)
            {
                <div class="progress-bar-wrapper">
                    <FxProgressBar ProgressMode="ProgressMode.Infinite" CurrentText="@(Localizer[nameof(AppStrings.LoadingSearchResult)])" />
                </div>
            }
        </div>
        @if (_isInSearch)
        {
            <ArtifactExplorer Artifacts="_displayedArtifacts"
                              FileService="FileService"
                              ThumbnailService="ThumbnailService"
                              CurrentArtifact="CurrentArtifact"
                              OnSelectArtifact="HandleSelectArtifactAsync"
                              OnArtifactOptionClick="HandleOptionsArtifact"
                              OnArtifactsOptionClick="HandleSelectedArtifactsOptions"
                              OnAddFolderButtonClick="@(()=>HandleCreateFolder(CurrentArtifact?.FullPath))"
                              ViewMode="ViewModeEnum.List"
                              FileCategoryFilter="_fileCategoryFilter"
                              HandleBack="HandleToolbarBackClickAsync"
                              IsLoading="_isArtifactExplorerLoading"
                              IsInSearchMode="_isInSearch"
                              IsTouchStarted="HandleOnArtifactTouchStartAsync"
                              SelectedArtifacts="_selectedArtifacts"
                              SelectedArtifactsChanged="SetSelectedArtifact"
                              @bind-ArtifactExplorerMode="ArtifactExplorerMode" />
        }
        @if (_selectedArtifacts is { Count: >= 1 })
        {
            <div class="footer-option">
                <div class="option-item btn-detail" @onclick="@(()=>HandleShowDetailsArtifact(_selectedArtifacts))">
                    <div class="detail-icon"></div>
                    <div class="title-item">@Localizer[nameof(AppStrings.Details)]</div>
                </div>
                @if (_selectedArtifacts?.Count == 1)
                {
                    <div class="option-item" @onclick="@(()=>NavigateArtifactForShowInFolder(_selectedArtifacts[0]))">
                        <div class="show-location-icon"></div>
                        <div class="title-item">@Localizer[nameof(AppStrings.ShowInLocation)]</div>
                    </div>
                }
                else
                {
                    <div class="option-item" @onclick="@(()=>HandleCopyArtifactsAsync(_selectedArtifacts))">
                        <div class="copy-btn-icon"></div>
                        <div class="title-item">@Localizer[nameof(AppStrings.Copy)]</div>
                    </div>
                }
                @if (_searchPinOptionResult is { IsVisible: true })
                {
                    @if (_searchPinOptionResult.Type == PinOptionResultType.Add)
                    {
                        <div class="option-item" @onclick="@(()=>HandlePinArtifactsAsync(_selectedArtifacts))">
                            <div class="pin-icon"></div>
                            <div class="title-item">@Localizer[nameof(AppStrings.Pin)]</div>
                        </div>
                    }
                    else
                    {
                        <div class="option-item" @onclick="@(()=>HandleUnPinArtifactsAsync(_selectedArtifacts))">
                            <div class="unpin-icon"></div>
                            <div class="title-item">@Localizer[nameof(AppStrings.Unpin)]</div>
                        </div>
                    }
                }
                @if (_selectedArtifacts?.Count == 1)
                {
                    <div class="option-item" @onclick="@(()=>HandleOptionsArtifact(_selectedArtifacts[0]))">
                        <div class="more-option-icon"></div>
                        <div class="title-item">@Localizer[nameof(AppStrings.More)]</div>
                    </div>
                }
                @if (_selectedArtifacts?.Count > 1)
                {
                    <div class="option-item" @onclick="@(()=>HandleSelectedArtifactsOptions(_selectedArtifacts))">
                        <div class="more-option-icon"></div>
                        <div class="title-item">@Localizer[nameof(AppStrings.More)]</div>
                    </div>
                }
            </div>
        }
    </section>

</div>

<ArtifactOverflowModal @ref="_artifactOverflowModalRef" />
<ArtifactSelectionModal @ref="_artifactSelectionModalRef" FileService="FileService" ThumbnailService="ThumbnailService" />
<ConfirmationReplaceOrSkipModal @ref="_confirmationReplaceOrSkipModalRef" />
<FilterArtifactModal @ref="_filteredArtifactModalRef" CurrentFilter="_fileCategoryFilter" />
<SortArtifactModal @ref="_sortedArtifactModalRef" CurrentSort="_currentSortType"></SortArtifactModal>
<InputModal @ref="_inputModalRef" />
<InputModal @ref="_passwordModalRef" />
<ConfirmationModal @ref="_confirmationModalRef" />
<ArtifactDetailModal @ref="_artifactDetailModalRef" />
<ProgressModal CurrentText="@ProgressBarCurrentText"
               CurrentSubText="@ProgressBarCurrentSubText"
               ProgressCurrentValue="@ProgressBarCurrentValue"
               ProgressMax="@ProgressBarMax"
               OnCancel="ProgressBarOnCancel"
               @ref="_progressModalRef" />
<ArtifactDetailModal @ref="_artifactDetailModalRef" FileService="FileService" />
<FileViewer @ref="_fileViewerRef"
            FileService="FileService"
            OnPin="HandlePinArtifactsAsync"
            OnUnpin="HandleUnPinArtifactsAsync"
            OnOptionClick="HandleOptionsArtifact"
            ThumbnailService="ThumbnailService"
            NavigationFolderCallback="NavigateToAsync" />

<ExtractorBottomSheet @ref="_extractorModalRef" FileService="FileService" />