@namespace Functionland.FxFiles.Client.Shared.Components
@inherits AppComponentBase

<div class="file-browser-container">
    <FxToolBar IsInRoot="IsInRoot(_currentArtifact)"
               OnSearch="HandleDeepSearchAsync"
               OnSearchFocused="HandleSearchFocused"
               IsInSearchMode="_isInSearchMode"
               OnBackClick="HandleToolbarBackClick"
               Title="@(_currentArtifact?.Name)"
               SubTitle="@($"{Localizer[nameof(AppStrings.Update)]}: {_currentArtifact?.LastModifiedDateTime.Date.Date.ToShortDateString()}")"
               IsPinned="@(_currentArtifact?.IsPinned ?? false)"
               OnAddButtonClick="@(()=>HandleCreateFolder(_currentArtifact.FullPath))" />

    @if (IsInRoot(_currentArtifact) && _isInSearchMode is false)
    {
            <BitAccordion Title="Pinned" DefaultIsExpanded="true">
                <ContentTemplate>
                    <div class="items">
                    @foreach (var pin in _pins)
                    {
                                <FileCard FileName="@pin.Name"
                          FileSize="@pin.SizeStr"
                          ModifiedDate="@pin.LastModifiedDateTime.ToString("yyyy-MM-dd")"
                          FileImage="@pin.ThumbnailPath" />
                    }
                    </div>
                </ContentTemplate>
            </BitAccordion>
    }

    @if (_isInSearchMode is false || string.IsNullOrWhiteSpace(_searchText) is false)
    {
            <ArtifactExplorer Artifacts="_filteredArtifacts"
                      CurrentArtifact="_currentArtifact"
                      CurrentSortType="_currentSortType"
                      IsAscOrder="_IsAscOrder"
                      OnSearch="HandleSearch"
                      OnCancelSearch="HandleCancelSearchAsync"
                      OnSelectArtifact="HandleSelectArtifactAsync"
                      OnFilterClick="HandleFilterClick"
                      OnSortClick="HandleSortClick"
                      OnSortOrderClick="HandleSortOrderClick"
                      OnArtifactsOptionsClick="HandleOptionsArtifact"
                      OnMultiArtifactsOptionsClick="HandleSelectedArtifactsOptions"
                      OnAddFolderButtonClick="@(()=>HandleCreateFolder(_currentArtifact.FullPath))"
                      OnSelectDestination="HandleMoveArtifactsAsync" />
    }
</div>

<ArtifactSelectionModal @ref="_artifactSelectionModalRef" />
<ArtifactOverflowModal @ref="_artifactOverflowModalRef" />
<ConfirmationReplaceOrSkipModal @ref="_confirmationReplaceOrSkipModalRef" />
<ToastModal @ref="_toastModalRef"/>
<FilterArtifactModal @ref="_filteredArtifactModalRef" CurrentFilter="_fileCategoryFilter"/>
<SortArtifactModal @ref="_sortedArtifactModalRef" CurrentSort="_currentSortType"></SortArtifactModal>
<InputModal @ref="_inputModalRef"/>
<ConfirmationModal @ref="_confirmationModalRef" />
<ArtifactDetailModal @ref="_artifactDetailModalRef" />