@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase


<FxBottomSheet
    OnClose="Close"
    ShowCloseButton="true" 
    IsFullScreenMode="false"
    @bind-IsOpen="_isModalOpen" >

    <div class="input-modal">
        @if (!string.IsNullOrEmpty(_headTitle) || !string.IsNullOrWhiteSpace(_headTitle))
        {
            <h6>@_headTitle</h6>
        }

        <h3>@_title</h3>

        <FxTextInput
            Label="@_lable"
            @ref="_inputRef"
            Margin="40px 0 0 0"
            @bind-Text="@_inputValue"
            Placeholder="@_placeholder" />

        <FxButton 
            Text="@Localizer[nameof(AppStrings.Cancel)]"
            OnClick="Close"
            Margin="32px 0 0 0"
            ButtonSize="FxButtonSize.Stretch"
            ButtonStyle="FxButtonStyle.Outline" />

        <FxButton 
            Text="@_doneBtnText"
            OnClick="Confirm"
            Margin="16px 0 21px 0"
            ButtonSize="FxButtonSize.Stretch"
            ButtonStyle="FxButtonStyle.Normal" />

    </div>

</FxBottomSheet>