@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase


<FxBottomSheet OnClose="CloseAsync"
               ShowCloseButton="false"
               IsFullScreenMode="false"
               @bind-IsOpen="_isModalOpen">
    <div class="progress-container">
        <div class="title">@Title</div>
        <div class="main-content">
            <BitProgressIndicator BarHeight="4"
                                  Label="@CurrentText"
                                  PercentComplete="@(ProgressMode == ProgressMode.Infinite ? null : ProgressCurrentValue)" />
            <div class="progress-dsc">
                <p>@CurrentSubText</p>
                <p>@(ProgressCurrentValue + "%")</p>
            </div>
        </div>

        @if (IsCancellable)
        {
            <FxButton OnClick="CloseAsync" Text="@Localizer[nameof(AppStrings.Cancel)]"
                  ButtonStyle="FxButtonStyle.Normal"
                  Height="60px"
                  Width="100%" />
        }
    </div>

</FxBottomSheet>