@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase


<FxBottomSheet OnClose="CloseAsync"
               ShowCloseButton="false"
               IsFullScreenMode="false"
               @bind-IsOpen="_isModalOpen">
    <div class="progress-container">
        <div class="title">@Localizer[nameof(AppStrings.MovingFiles)]</div>
        <div class="main-content">
            <BitProgressIndicator BarHeight="4"
                                  Label="@CurrentText"
                                  PercentComplete="@CompletedPercent" />
            <div class="progress-dsc">
                <p>1 of 2</p>
                <p>@description</p>
            </div>
        </div>

        @if (IsCancellable)
        {
            <FxButton OnClick="CloseAsync" Text="@Localizer[nameof(AppStrings.Cancel)]"
                  ButtonStyle="FxButtonStyle.Normal"
                  Height="60px"
                  Width="100%"/>
        }
    </div>

    @*<div>@CurrentText</div>
    <div>@CurrentSubText</div>
    <div>@ProgressCurrentValue</div>
    <div>@ProgressMax</div>*@

</FxBottomSheet>

@code {
    private string description = "Push button to start!";
    public int CompletedPercent { get; set; }
    private async Task StartProgress()
    {
        CompletedPercent = 0;
        while (CompletedPercent <= 100)
        {
            if (CompletedPercent == 100)
            {
                description = $"Completed !";
                break;
            }
            else
            {
                CompletedPercent++;
                description = $"{CompletedPercent}%";
            }

            StateHasChanged();
            await Task.Delay(100);
        }
    }
}
