@page "/Settings/Theme"
@inherits AppComponentBase;
@namespace Functionland.FxFiles.Client.Shared.Pages

@*<div class="theme-content">
    <FxToolBar
        IsInRoot="false"
        IsBackButtonVisible="true" 
        IsAddButtonVisible="false"
        IsOverflowButtonVisible="false"
        OnBackClick="HandleToolbarBack"/>

    @if(_isLoaded)
    {
        <div class="theme-options">
            @($"Use System Theme ({SystemTheme})")
            <BitCheckbox @bind-Value="@IsSystemTheme" OnChange="@OnUseSystemThemeAsync" />
            Dark Theme
            <BitToggle @bind-Value="@IsDarkMode" IsEnabled="@(!IsSystemTheme)" OnChange="@OnThemeChangedAsync" />
        </div>
    }

</div>
*@

@*    <BitRadioButtonGroup Name="ThemeGroup">
        <BitRadioButtonOption IsChecked="@(!IsDarkMode)" IsCheckedChanged="@OnThemeChangedAsync" Text="Light" />
        <BitRadioButtonOption IsChecked="@(IsDarkMode)" IsCheckedChanged="@OnThemeChangedAsync" Text="Dark" />
    </BitRadioButtonGroup>*@

<div class="fxtoolbar-wrapper">
    <FxToolBar IsInRoot="false"
        IsBackButtonVisible="true"
        IsAddButtonVisible="false"
        IsOverflowButtonVisible="false"
        OnBackClick="HandleToolbarBack" />
</div>

<section class="theme-mode">
    <div class="mode-content">@Localizer[nameof(AppStrings.Mode)]</div>

    <div class="select-theme-mode">
        <div class="light-mode-part">
            <div class="mode-img light-mode-img"></div>
@*            <label class="mode-content" id="light-mode">
                @Localizer[nameof(AppStrings.LightMode)]
            </label>*@
            <label id="lightMode" class="container mode-content">
                @Localizer[nameof(AppStrings.LightMode)]
                <input type="radio" checked="@(CurrentTheme == FxTheme.Light)" @onclick="() => { CurrentTheme = FxTheme.Light; ChangeThemeAsync(); }" id="lightMode">
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="dark-mode-part">
            <div class="mode-img dark-mode-img"></div>
            <label id="darkMode" class="container mode-content">
                @Localizer[nameof(AppStrings.DarkMode)]
                <input type="radio" checked="@(CurrentTheme == FxTheme.Dark)" @onclick="() => { CurrentTheme = FxTheme.Dark; ChangeThemeAsync(); }" id="darkMode">
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="system-mode-part">
            <div class="mode-img @(_isSystemThemeDark ? "dark-mode-img" : "light-mode-img")"></div>
            <label id="system" class="container mode-content">
                @Localizer[nameof(AppStrings.System)]
                <input type="radio" checked="@(CurrentTheme == FxTheme.System)" @onclick="() => { CurrentTheme = FxTheme.System; ChangeThemeAsync(); }" id="system">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

    <div class="system-theme-setting">
        <div class="system-theme-info">
            <div class="system-theme-option">@Localizer[nameof(AppStrings.AutomaticContent)] <span class="system-mode">@Localizer[nameof(AppStrings.DarkMode)]</span> <span class="mode-text">@Localizer[nameof(AppStrings.Mode)]</span></div>
            <div class="system-theme-desc">@Localizer[nameof(AppStrings.SystemThemeDescription)]</div>
        </div>
    </div>

</section>