@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@namespace Functionland.FxFiles.Client.Web.Pages

@inject IHttpContextAccessor ContextAccessor

@using Functionland.FxFiles.Client.Shared.Infra;
@using Microsoft.AspNetCore.Components.Web

@{
    var isBlazorServer = BlazorModeDetector.Current.IsBlazorServer();
    var isDefaultDeploymentType = WebAppDeploymentTypeDetector.Current.IsDefault();
    var isPwa = WebAppDeploymentTypeDetector.Current.IsPwa();
    var shoudAddAspAppendVersion = !isPwa;
    RenderMode renderMode = isBlazorServer ? RenderMode.Server : RenderMode.WebAssembly;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Functionland.FxFiles is a project template based on ASP.NET core, identity, web api and ef core for the server side + blazor at client side. It allows you building Android, iOS, Windows, Web applications from single code base." />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#FFFFFF">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#212529">
    <base href="~/" />
    <link rel="icon" type="image/svg" href="favicons/favicon.svg" asp-append-version="@shoudAddAspAppendVersion" />
    <link rel="icon" type="image/png" href="favicons/favicon.png" asp-append-version="@shoudAddAspAppendVersion" />
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.webp" asp-append-version="@shoudAddAspAppendVersion" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png" asp-append-version="@shoudAddAspAppendVersion" />
    <link rel="icon" type="image/png" sizes="194x194" href="favicons/favicon-194x194.png" asp-append-version="@shoudAddAspAppendVersion" />
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-chrome-192x192.webp" asp-append-version="@shoudAddAspAppendVersion"/>
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png" asp-append-version="@shoudAddAspAppendVersion" />
    <component type="typeof(HeadOutlet)" render-mode="@renderMode" />
    <link rel="apple-touch-icon" sizes="512x512" href="images/icons/bit-icon-512.png" asp-append-version="@shoudAddAspAppendVersion" />
    @if (isPwa)
    {
        <link rel="manifest" href="manifest.json">
    }
    <!-- <style>
        html, body, #app-container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style> -->
    @if (isDefaultDeploymentType || isPwa)
    {
        <component type="typeof(Functionland.FxFiles.Client.Shared.Components.LoadingComponent)" param-Color="@("#FFF")" render-mode="@RenderMode.Static" />
    }
    <link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.min.css" asp-append-version="@shoudAddAspAppendVersion" />
    <link href="_content/Functionland.FxFiles.Client.Shared/Functionland.FxFiles.Client.Shared.bundle.scp.css" rel="stylesheet" asp-append-version="@shoudAddAspAppendVersion" />
    <link href="_content/Functionland.FxFiles.Client.Shared/app.css" rel="stylesheet" asp-append-version="@shoudAddAspAppendVersion" />
</head>
<body>
    <div id="app-container">
        @RenderBody()
    </div>

    @if (isBlazorServer)
    {
        <script src="_framework/blazor.server.js" asp-append-version="@shoudAddAspAppendVersion"></script>
    }
    else
    {
        @if (isPwa)
        {
            <script src="_framework/blazor.webassembly.js" autostart=false></script>
            <script src="_content/Bit.Bswup/bit-bswup.js" scope="/" sw="service-worker.js" handler="bitBswupHandler"></script>
            <component type="typeof(Bit.Bswup.BswupProgress)" render-mode="@RenderMode.Static" param-AutoReload="true" param-AppContainer="@("#app-container")" />
        }
        else
        {
            <script src="_framework/blazor.webassembly.js" asp-append-version="@shoudAddAspAppendVersion"></script>
        }
    }

    <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>

    <script src="_content/Functionland.FxFiles.Client.Shared/scripts/theme.js" asp-append-version="@shoudAddAspAppendVersion"></script>
    <script src="_content/Functionland.FxFiles.Client.Shared/scripts/backToTop.js" asp-append-version="@shoudAddAspAppendVersion"></script>
    <script src="_content/Functionland.FxFiles.Client.Shared/scripts/app.js" asp-append-version="@shoudAddAspAppendVersion"></script>
</body>
</html>