@namespace Functionland.FxFiles.Client.Shared.Components.Modal
@inherits AppComponentBase;

@if (_artifacts.Length > 0)
{
    if (IsMultiple)
    {
        <FxBottomSheet IsFullScreenMode="false" IsOpen="_isModalOpen" OnClose="Close" ShowCloseButton="false">
            <FileDetailView FileName="@_artifacts[0].Name">
                <FileDetailItemFragment>
                    <FileDetailViewItem FileDetailFieldName="@Localizer[nameof(AppStrings.LastModified)]" FileDetailFieldValue="@(_artifacts[0].LastModifiedDateTime.Date.ToShortDateString())"></FileDetailViewItem>
                    <FileDetailViewItem FileDetailFieldName="@Localizer[nameof(AppStrings.FileSize)]" FileDetailFieldValue="@(_artifacts[0].SizeStr)"></FileDetailViewItem>
                    <FileDetailViewItem FileDetailFieldName="@Localizer[nameof(AppStrings.Source)]" FileDetailFieldValue="@(_artifacts[0].OriginDevice)"></FileDetailViewItem>
                    <div class="modal-slider">
                        <FxLink FxLinkIconSide="FxLinkIconSide.Left" LinkText="@Localizer[nameof(AppStrings.PreviousSlide)]" IsEnabel="false"></FxLink>
                        <div class="number-slider">1 @Localizer[nameof(AppStrings.Of)] 10</div>
                        <FxLink FxLinkIconSide="FxLinkIconSide.Right" LinkText="@Localizer[nameof(AppStrings.NextSlide)]" IsEnabel="true"></FxLink>                        
                    </div> 
                    <div class="select-action">
                        <div class="info-selection">
                            <div class="item-selected">
                                <span class="item-selected-count">@_artifacts.Length</span>
                                <span class="item-selected-text">@Localizer[nameof(AppStrings.ItemsSelected)]</span>
                            </div>
                            <div class="item-selected">
                                <span class="item-selected-count">@_artifactsSize</span>
                                <span class="item-selected-text">(@Localizer[nameof(AppStrings.Total)])</span>
                            </div>
                        </div>

                        <div class="right-part">
                            <div class="icons-action move-icon"></div>
                            <div class="icons-action vertical-option-icon"></div>
                        </div>
                    </div>
                </FileDetailItemFragment>

                <FileDetailItemActionsFragment>
                    <FileDetailViewBottomActionBar>
                        <FileDetailActionBarItemFragment>
                            <FileDetailViewBottomActionItem OnClick="Download" ActionIcon="ActionIcon.Download"></FileDetailViewBottomActionItem>
                            <FileDetailViewBottomActionItem OnClick="Move" ActionIcon="ActionIcon.Move"></FileDetailViewBottomActionItem>
                            <FileDetailViewBottomActionItem OnClick="Pin" ActionIcon="ActionIcon.Pin"></FileDetailViewBottomActionItem>
                            <FileDetailViewBottomActionItem OnClick="More" ActionIcon="ActionIcon.More"></FileDetailViewBottomActionItem>
                        </FileDetailActionBarItemFragment>
                    </FileDetailViewBottomActionBar>
                </FileDetailItemActionsFragment>

                <FileDetailBottomActionFragment>
                    <FxButton Text="Close" OnClick="Close" ButtonSize="FxButtonSize.Stretch" ButtonStyle="FxButtonStyle.Outline" Height="40px"></FxButton>
                </FileDetailBottomActionFragment>
            </FileDetailView>
        </FxBottomSheet>
    }
    else
    {
        <FxBottomSheet IsFullScreenMode="false" IsOpen="_isModalOpen" OnClose="Close" ShowCloseButton="true">
            <FileDetailView FileName="@_artifacts[0].Name" IsImageFile="@(_artifacts[0].FileCategory == FileCategoryType.Image)">
                <FileDetailItemFragment>
                    <FileDetailViewItem FileDetailFieldName="@Localizer[nameof(AppStrings.LastModified)]" FileDetailFieldValue="@(_artifacts[0].LastModifiedDateTime.Date.ToShortDateString())"></FileDetailViewItem>
                    <FileDetailViewItem FileDetailFieldName="@Localizer[nameof(AppStrings.FileSize)]" FileDetailFieldValue="@(_artifacts[0].SizeStr)"></FileDetailViewItem>
                    <FileDetailViewItem FileDetailFieldName="@Localizer[nameof(AppStrings.Source)]" FileDetailFieldValue="@(_artifacts[0].OriginDevice)"></FileDetailViewItem>
                </FileDetailItemFragment>

                <FileDetailItemActionsFragment>
                    <FileDetailViewBottomActionBar>
                        <FileDetailActionBarItemFragment>
                            <FileDetailViewBottomActionItem OnClick="Download" ActionIcon="ActionIcon.Download"></FileDetailViewBottomActionItem>
                            <FileDetailViewBottomActionItem OnClick="Move" ActionIcon="ActionIcon.Move"></FileDetailViewBottomActionItem>
                            <FileDetailViewBottomActionItem OnClick="Pin" ActionIcon="ActionIcon.Pin"></FileDetailViewBottomActionItem>
                            <FileDetailViewBottomActionItem OnClick="More" ActionIcon="ActionIcon.More"></FileDetailViewBottomActionItem>
                        </FileDetailActionBarItemFragment>
                    </FileDetailViewBottomActionBar>
                </FileDetailItemActionsFragment>

                <FileDetailBottomActionFragment>
                    <FxButton Text="Close" OnClick="Close" ButtonSize="FxButtonSize.Stretch" ButtonStyle="FxButtonStyle.Outline" Height="40px"></FxButton>
                </FileDetailBottomActionFragment>
            </FileDetailView>
        </FxBottomSheet>
    }
}